*For some reason, I had to import the libraries into this notebook as well as in the .py file to get code to work.  Normally, if you import the libraries relevant to the helper/wrapper functions from the .py file, you do not have to import again in your jupyter notebook.*

In [1]:
from lib.project_5 import load_data_from_database, make_data_dict, general_transformer, general_model
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, cross_val_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Step 3 - Build Model


**Please refer to Report for further details**

## Implementation

The following code pipeline uses the functions found in `lib/project_5.py`.

<img src="assets/build_model.png" width="600px">

### Loading the data from the database

In [2]:
madelon_df = load_data_from_database()

**Getting an overview of the data**

In [3]:
madelon_df.head()

,index,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
0,0,485,477,537,479,452,471,491,476,475,...,481,477,485,511,485,481,479,475,496,-1
1,1,483,458,460,487,587,475,526,479,485,...,478,487,338,513,486,483,492,510,517,-1
2,2,487,542,499,468,448,471,442,478,480,...,481,492,650,506,501,480,489,499,498,-1
3,3,480,491,510,485,495,472,417,474,502,...,480,474,572,454,469,475,482,494,461,1
4,4,484,502,528,489,466,481,402,478,487,...,479,452,435,486,508,481,504,495,511,1

In [4]:
madelon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 502 entries, index to label
dtypes: int64(502)
memory usage: 7.7 MB

In [5]:
madelon_df.shape

(2000, 502)

**Creating our target vector**

In [6]:
y = madelon_df['label']

In [7]:
# target vector is comprised of '1's and '-1's

y.unique()

array([-1,  1])

In [8]:
# the target vector is evenly distributed

y.value_counts()

 1    1000
-1    1000
Name: label, dtype: int64

**Creating the feature matrix**

In [9]:
X = madelon_df.drop(['label', 'index'], axis=1)
X.head(1)

,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_490,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496

**Confirming that our target vector and feature matrix have the appropriate shapes for sklearn**

In [10]:
X.shape, y.shape

((2000, 500), (2000,))

**Spliting the data into Train-Test portions and initializing our data dictionary**

In [11]:
madelon_data_dict = make_data_dict(X, y, 0.25, 82)

**Confirming the completion of the Train-Test-Split**

In [12]:
pd.DataFrame(madelon_data_dict['X_test']).shape

(500, 500)

In [13]:
pd.DataFrame(madelon_data_dict['X_train']).shape

(1500, 500)

### Transforming the data using StandardScaler

In [14]:
scaled_dictionary = general_transformer(StandardScaler(), madelon_data_dict)

**Confirming transformation of `X_train` and `X_test`**

In [15]:
pd.DataFrame(scaled_dictionary['X_train']).head(3)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1.136431,0.610539,-0.217152,-1.804330,-0.072199,0.395568,1.264948,-0.383904,1.209344,-2.177202,...,0.642616,-0.695112,-0.965624,0.248084,-0.289810,-1.338782,0.658693,-0.365804,-1.764246,0.575991
1,0.203911,-0.586640,1.968420,0.834651,-2.953655,-0.495351,0.375311,-0.383904,-1.115211,0.059554,...,1.693163,-1.200648,-1.382716,1.732952,-1.359683,-0.672545,-1.768071,0.596839,1.648343,-1.465802
2,0.048491,0.311244,1.094191,2.044184,0.831308,1.138000,0.350599,-0.383904,0.013859,0.059554,...,-0.551187,-0.947880,0.410780,0.943128,-1.157275,1.059673,-1.248050,-0.884151,1.272152,0.575991

In [16]:
pd.DataFrame(scaled_dictionary['X_train']).shape

(1500, 500)

In [17]:
pd.DataFrame(scaled_dictionary['X_test']).head(3)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,-1.350289,-0.453620,-0.834254,-1.254542,0.855727,-1.237783,0.721281,0.341355,1.010097,0.758540,...,0.881377,0.821496,1.078127,-1.134108,-0.492219,-2.671257,0.658693,-0.662002,-1.092476,-0.656790
1,-0.106929,0.277989,-0.937105,-0.484840,0.611536,0.098595,0.696569,-1.834421,-0.451052,-0.499635,...,-0.264674,0.821496,0.619326,0.848349,-1.764500,0.366786,-0.381349,0.522789,-1.092476,1.616150
2,0.514751,-0.387110,0.631365,0.174906,-0.121037,-1.980216,1.240235,1.066614,-0.783132,-0.499635,...,-0.598939,0.568728,0.619326,1.867222,0.433077,1.006374,0.138672,1.263284,0.573512,1.885821

In [18]:
pd.DataFrame(scaled_dictionary['X_test']).shape

(500, 500)

In [19]:
scaled_dictionary['transformer']

StandardScaler(copy=True, with_mean=True, with_std=True)

### Feature Selection via SelectKBest

- Running SelectKBest using default k=10 -- select 10 'best' features

In [20]:
kbest_dictionary = general_transformer(SelectKBest(k=10), scaled_dictionary)

In [22]:
kbest_dictionary['processes']

[StandardScaler(copy=True, with_mean=True, with_std=True),
 SelectKBest(k=10, score_func=<function f_classif at 0x1145ff758>)]

In [21]:
kbest_dictionary['transformer']

SelectKBest(k=10, score_func=<function f_classif at 0x1145ff758>)

In [25]:
# confirming K-Best transformer selected 10 features

pd.DataFrame(kbest_dictionary['X_train']).shape, pd.DataFrame(kbest_dictionary['X_test']).shape

((1500, 10), (500, 10))

In [24]:
pd.DataFrame(kbest_dictionary['X_train']).head()

,0,1,2,3,4,5,6,7,8,9
0,0.646894,-1.075962,-1.035246,-0.771898,0.680493,0.341848,0.359856,0.325417,-0.706561,0.248084
1,1.107001,0.264590,0.436093,-1.573704,1.236901,-0.067575,0.359856,0.549760,-1.576358,1.732952
2,1.208000,-1.668471,-1.641092,-1.349944,1.659003,0.085958,0.175706,0.145942,-1.415780,0.943128
3,0.366342,-0.105728,-0.083203,-1.126184,0.277577,0.239492,1.536367,1.379828,-1.067861,1.709257
4,-1.720970,1.094103,1.215038,2.043750,-1.976834,-1.408435,-1.174724,-1.289852,1.755634,-1.039329

In [26]:
pd.DataFrame(kbest_dictionary['X_test']).head()

,0,1,2,3,4,5,6,7,8,9
0,0.007235,-1.327778,-1.208345,1.074123,-0.029406,-0.476998,-0.806425,-0.908469,1.126704,-1.134108
1,-0.228430,0.805254,0.522643,-0.995658,-0.250051,1.017395,1.464753,1.649040,-0.947427,0.848349
2,0.029679,-0.520485,-0.515950,-0.622724,0.076119,-0.180166,1.178298,1.334960,-0.545983,1.867222
3,0.613228,-1.075962,-1.035246,-1.032951,0.651713,1.048102,-0.100518,-0.100835,-1.041098,-0.920855
4,-0.430428,-0.868584,-0.775598,0.067203,-0.451509,0.720564,0.380317,0.549760,0.069566,-0.786585

In [29]:
# mask for features -- True are the ones selected by KBest

kbest_feature_mask = kbest_dictionary['transformer'].get_support()
kbest_feature_mask

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False], dtype=bool)

In [30]:
kbest_feature_mask.shape

(500,)

In [33]:
features_df = pd.DataFrame(X.columns.tolist(), columns=["Feature"])
features_df.shape

(500, 1)

In [34]:
features_df.head()

    Feature
0  feat_000
1  feat_001
2  feat_002
3  feat_003
4  feat_004

In [37]:
# Applying the KBest Feature Mask to get the features selected by KBest

kbest_selected_features_df = features_df[kbest_feature_mask == True]
kbest_selected_features_df.shape

(10, 1)

In [38]:
kbest_selected_features_df

      Feature
64   feat_064
105  feat_105
128  feat_128
241  feat_241
336  feat_336
338  feat_338
442  feat_442
472  feat_472
475  feat_475
493  feat_493

## Building Model with Grid Search

### Logistic Regression

##### Tuning hyperparameter 'C'